NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_LUMINA_CONTRACT_ID=CBZAI24XP2RXDVXLRJNVGVGZ5QRDMNI54GTPBTN4OOLFTSFJRWQ4M3EJ
NEXT_PUBLIC_USDC_CONTRACT_ID=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA
NEXT_PUBLIC_ORACLE_ADDRESS=GBJJCKJBEF2ILRD5LGWXGH5BQIKZ6EYFDS3RHQZQ5KBCOV4XHSDESM7W
NEXT_PUBLIC_SPONSOR_ADDRESS=GBRR6QWYT5UIHATCC7SYJITERMDWKLE5HHJCNM5PP6GK2DRB4YPKSP5E
NEXT_PUBLIC_ADMIN_ADDRESS=GBKDKKKCMCB5CQG25R37F7VIHGO62557HZQUU4CZWTOTUK6HKLMNUDMK
NEXT_PUBLIC_APP_URL=http://localhost:3000
# RESEND_API_KEY=
# RESEND_FROM=Lumina <noreply@lumina.earth>
# DATABASE_URL=
# ORACLE_SECRET=
# CERTIFY_SECRET=
# TREASURY_SECRET=
# TREASURY_DEPOSIT_ENABLED=true
